body{    
    background: url(/8-bit-sunset-40969-1920x1080.jpg);
}


.paper{
    width: 120px;
    height: 120px;
    top: 375px;
    left: 390px;
    position: absolute;
}
.rock{
    width: 120px;
    height: 120px;
    top: 375px;
    left: 590px;
    position: absolute;
}
.scissor{
    width: 120px;
    height: 120px;
    top: 375px;
    left: 790px;
    position: absolute;
}

/* img{
    width: 100px;
    height: 100px;
}
/* .h1{
    text-align: center;
    padding-top: 10px;
} */
/* 

.score{
    
    padding:5px ;
    text-align: center;
    font-size: 25px;
    font-style: bold;
    
}



.computer{
    float:right;
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    

}

.you{
    float: left;
display: flex;
flex-direction: column;
padding-left: 100px;
}
/* 
span{
    padding:5px ;
    text-align: center;
    font-size: 25px;
    font-style: bold;
} */

/* #play{
height: 60px;
width: 160px;
font-size: 30px;
background:white;
margin-top: px;
}
.button{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:60px ;
} */ */ */